<div class="card py-5 center">
    <div class="card-title text-center">
        <h2>Connect 4</h2>

        <h3 *ngIf="!gameOver">Player {{currentPlayer.getPlayerNumber()}}'s turn.</h3>
        <h3 *ngIf="gameOver">Game over!</h3>
        
        <h4>{{message}}</h4>
        <div class="card-body d-flex justify-content-center">
            <app-grid 
                (btnClick)="dropToken($event)" 
                [cellColor]=cellColor
                [rows]=rows
                [cols]=cols
                [cells]=cells
            ></app-grid>
        </div>
    </div>
</div>
