<div class="container">

    <div class="row row-cols-auto">
      <div class="col">
        <div class="board">
          <ng-container *ngFor="let row of rows">
            <div class="row py-2">
              <ng-container *ngFor="let col of cols">
                <div class="col">
                  
                  <app-cell
                    [rowLocation]="cells[row][col].getRowLocation()"
                    [colLocation]="cells[row][col].getColLocation()"
                    [color]="cells[row][col].getColor()">
                  </app-cell>
                  
                  <app-button 
                      *ngIf="row == 5" 
                      text="{{col}}" 
                      type="btn-outline-primary" 
                      (btnClick)="onClick(col)">
                  </app-button>

                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  